################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/hlebnikov-sergey-kt-41-20/FileContentIndex
/.vs/hlebnikov-sergey-kt-41-20/v17/.suo
/hlebnikov-sergey-kt-41-20.Tests/bin/Debug/net7.0/cs
/hlebnikov-sergey-kt-41-20.Tests/bin/Debug/net7.0/da
